/* ==============================BEGIN SETUP CSS============================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
.row {
    margin: 0;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    background: #f0f2f5;
}
a,
a:hover {
    text-decoration: none;
    color: black;
}
.card {
    border: 0;
}
/* ==============================END SETUP CSS============================== */

/* ==============================BEGIN SCROLLBAR============================== */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(170, 168, 168);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ==============================END SCROLLBAR============================== */

/* ==============================BEGIN HEADER============================== */
.header {
    background: white;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header .fb-logo i {
    font-size: 40px;
    color: #0e8bf1;
}
.header .seach {
    position: relative;
}
.header .seach input {
    border-radius: 20px;
    width: 240px !important;
    background: #f0f2f5;
    border: none;
}
.header .seach input:focus {
    box-shadow: none;
    border: none;
    background: #f0f2f5;
}
.header .seach input::placeholder {
    padding-left: 20px;
    font-size: 15px;
}
.header .seach input:focus ~ i {
    display: none;
    padding-left: 0;
}
.header .seach input:focus::placeholder {
    padding-left: 0;
}
.header .seach i {
    position: absolute;
    left: 10px;
    color: #888888;
}
.header .center-nav {
    padding-left: 10px;
}
.header .center-nav li {
    padding: 5px 38px;
    border-radius: 8px;
}
.header .center-nav .active {
    padding: 5px 38px;
    border-radius: 0;
    border-bottom: 3px solid #1877f2;
}
.header .center-nav .active i {
    color: #1877f2;
    font-size: 24px;
}
.header .center-nav li i {
    font-size: 24px;
}
.header .center-nav li:hover:not(.active) {
    background: #f1f1f1;
}
.header .avatar,
.content .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header .right-side-nav {
    padding: 5px;
    border-radius: 20px;
    margin-right: 8px;
}
.header .right-side-nav:hover {
    background: #e6e6e6;
    cursor: pointer;
}
.header .right-side-nav span {
    font-weight: 500;
    padding-right: 10px;
}
.header .right-icon {
    background: #e4e6eb;
    border-radius: 50%;
    padding: 10px 15px;
    margin-right: 8px;
}
.header .right-icon:hover {
    background: #dddde6;
    cursor: pointer;
}
#profile-nav.active div {
    color: #1876f2;
    background-color: #e7f3ff;
}
/* ==============================END HEADER============================== */

/* ==============================BEGIN LETF SIDEBAR============================== */
.left-sidebar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.left-sidebar .left-item {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.left-sidebar .left-item-icon,
.right-sidebar .contact {
    padding: 5px 10px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.left-sidebar .left-item:hover,
.left-sidebar .left-item-icon:hover,
.right-sidebar .contact:hover {
    background: #e4e6eb;
    cursor: pointer;
}
.left-sidebar .left-item-icon i {
    font-size: 30px;
    color: #0e8bf1;
}
.left-sidebar .left-item-icon span,
.right-sidebar .contact span {
    padding-left: 14px;
}
/* ==============================END LETF SIDEBAR============================== */

/* ==============================BEGIN CONTENT============================== */
.content .card-body .avatar {
    width: 50px;
    height: 50px;
}
.content .wdut {
    background: #f2f2f5;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    color: #888888;
}
.content .wdut:hover {
    background: #e7e7e8;
    cursor: pointer;
}
.content .stream i {
    vertical-align: bottom;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/PDfqklc5gpf.png");
    background-position: 0px -82px;
    background-size: 49px 559px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.content .image-video i {
    vertical-align: bottom;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/PDfqklc5gpf.png");
    background-position: 0px -382px;
    background-size: 49px 559px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.content .activity i {
    vertical-align: bottom;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/PDfqklc5gpf.png");
    background-position: 0px -257px;
    background-size: 49px 559px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.content .stream,
.content .image-video,
.content .activity {
    padding: 7px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 10px;
    color: #888888;
}
.content .stream:hover,
.content .image-video:hover,
.content .activity:hover,
.content .reaction .like:hover,
.content .reaction .comment:hover,
.content .reaction .share:hover {
    background: #f2f2f5;
    cursor: pointer;
}
.content .time_post {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
}
.content .time_post ~ i {
    font-size: 13px;
    color: #5b5b5b;
}
.content .setting {
    border-radius: 50%;
    background: #fff;
    border: 0;
}
.content .setting:hover {
    background: #f2f2f5;
}
.content .setting i {
    font-size: 13px;
    color: #595959;
}
.content .posts .post-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.content .reaction .like,
.content .reaction .comment,
.content .reaction .share {
    padding: 3px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 5px;
    color: #5d5d5d;
}
.content .reaction .like span,
.content .reaction .comment span,
.content .reaction .share span {
    vertical-align: text-bottom;
}
.content .reaction .like i {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/o8M3gMjyxwj.png");
    background-position: 0 -147px;
}
.content .reaction .comment i {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/o8M3gMjyxwj.png");
    background-position: 0 -109px;
}
.content .reaction .share i {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/o8M3gMjyxwj.png");
    background-position: 0 -166px;
}
.content .reaction .like i,
.content .reaction .comment i,
.content .reaction .share i {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 25px 773px;
}
.content .reaction-count span {
    color: #65676b;
}
/* ==============================END CONTENT============================== */

/* ==============================BEGIN RIGHT SIDEBAR============================== */
.right-sidebar .top,
.right-sidebar .top button i {
    color: #696969;
}
.right-sidebar .top span {
    font-size: 18px;
    font-weight: 500;
}
.right-sidebar .top button {
    border-radius: 50%;
    background: #f0f2f5;
    border: 0;
}
.right-sidebar .top button:hover {
    background: #e6e6e6;
}
.right-sidebar .top button i {
    font-size: 13px;
}
.right-sidebar .contact {
    position: relative;
}
.right-sidebar .contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.right-sidebar .online {
    padding: 0 !important;
    width: 10px;
    height: 10px;
    background: #31a24c;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 39px;
    box-shadow: 0px 0px 0px 3px #f0f2f5;
}
.right-sidebar .contact:hover .online {
    box-shadow: 0px 0px 0px 3px #e4e6eb;
}
/* ==============================END RIGHT SIDEBAR============================== */

/* ==============================BEGIN PROFILE============================== */
.profile .cover-avatar {
    background: #ffffff;
    background: -webkit-linear-gradient(to top, #ffffff, #2d2d2d);
    background: linear-gradient(to top, #ffffff, #2d2d2d);
}
.profile .cover-avatar .cover-photo {
    position: relative;
}
.profile .cover-avatar .cover-photo img {
    border-radius: 0px 0px 10px 10px;
}
.profile .cover-avatar .cover-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
.profile .cover-avatar .avatar {
    position: relative;
    margin-top: -150px;
}
.profile .cover-avatar .avatar img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid white;
}
.profile .cover-avatar .avatar-btn {
    border: 0;
    border-radius: 50%;
    padding: 5px 8px;
    position: absolute;
    bottom: 15px;
    right: 41%;
    background: #e4e6eb;
}
.profile .cover-avatar .avatar-btn:hover {
    background: #e1e1e1;
}
.profile .cover-avatar .avatar-btn i {
    font-size: 20px;
}
.profile .add-histoy {
    color: #1877f2;
}
.profile .add-histoy:hover {
    text-decoration: underline;
}
.profile .navigation button {
    padding: 12px 16px;
    background: white;
    border: 0;
    margin-right: 3px;
    color: #666666;
    font-weight: 500;
}
.profile .navigation button:hover {
    background: #f1f1f1;
}
.profile .navigation button:focus {
    box-shadow: none !important;
}
.profile .navigation button.active {
    background: white !important;
    border-radius: 0;
    border-bottom: 3px solid #1877f2 !important;
}
.profile .content .introduction button {
    background: #e4e6eb;
}
.profile .content .introduction button:hover {
    background: #dedfe2;
}
.profile .content .my-posts span {
    font-size: 13px;
}
.profile .information .all-images-btn,
.profile .information .all-friends-btn {
    font-size: 13px;
}
.profile .information .recent-images img {
    width: 97px;
    height: 97px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
}
.profile .information .recent-friends img {
    width: 91px;
    height: 91px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
}
.profile .information .number-of-friends {
    color: #595959;
}
.profile .tab .introduction-tab .card {
    border-radius: 0;
}
.profile .tab .introduction-tab .navigation {
    border-right: 1px solid #d7d8d8;
}
.profile .tab .introduction-tab .navigation a.active {
    color: #1876f2;
    background-color: #e7f3ff;
}
.profile .tab .introduction-tab .tab-pane .circle-plus {
    border-radius: 50%;
    border: 2px solid #1877f2;
    background: white;
    padding: 0px 6px;
}
.profile .tab .introduction-tab .tab-pane .circle-plus i {
    font-size: 13px;
    color: #1876f2;
}
.profile .tab .introduction-tab .tab-pane a {
    color: #1876f2;
}
.profile .tab .introduction-tab .tab-pane a:hover {
    text-decoration: underline;
}
/* ==============================END PROFILE============================== */
