body {
    background: #f0f2f5;
}
.row {
    margin: 0;
}
.header {
    background: white;
    padding: 5px 10px;
}
.fb-logo i {
    font-size: 40px;
    color: #0e8bf1;
}
.seach {
    position: relative;
}
.seach input {
    border-radius: 20px;
    width: 240px !important;
    background: #f0f2f5;
    border: none;
}
.seach input:focus {
    box-shadow: none;
    border: none;
    background: #f0f2f5;
}
.seach input::placeholder {
    padding-left: 20px;
    font-size: 15px;
}
.seach input:focus ~ i {
    display: none;
    padding-left: 0;
}
.seach input:focus::placeholder {
    padding-left: 0;
}
.seach i {
    position: absolute;
    left: 10px;
    color: #888888;
}
.custom-nav {
    padding-left: 10px;
}
.custom-nav li {
    padding: 5px 38px;
    border-radius: 8px;
}
.custom-nav .active {
    padding: 5px 38px;
    border-radius: 0;
    border-bottom: 3px solid #1877f2;
}
.custom-nav .active i {
    color: #1877f2;
    font-size: 24px;
}
.custom-nav li i {
    font-size: 24px;
}
.custom-nav li:hover:not(.active) {
    background: #f1f1f1;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.right-side {
    padding: 5px;
    border-radius: 20px;
    margin-right: 8px;
}
.right-side:hover {
    background: #e6e6e6;
    cursor: pointer;
}
.right-side span {
    font-weight: 500;
    padding-right: 10px;
}
.right-icon {
    background: #e4e6eb;
    border-radius: 50%;
    padding: 10px 15px;
    margin-right: 8px;
}
.right-icon:hover {
    background: #dddde6;
    cursor: pointer;
}
.left-sidebar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.left-item {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.left-item-icon {
    padding: 5px 10px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.left-item:hover,
.left-item-icon:hover {
    background: #e4e6eb;
    cursor: pointer;
}
.left-item-icon i {
    font-size: 30px;
    color: #0e8bf1;
}
.left-item-icon span {
    padding-left: 14px;
}