.messenger-list-wrapper {
    position: absolute;
    width: 345px;
    top: 60px;
    right: 17px;
}
.messenger-list-wrapper .search input {
    width: 100% !important;
    margin-right: 0 !important;
}
.messenger-list-wrapper .contact,
.messenger-item-wrapper .contact {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.messenger-list-wrapper .contact:hover,
.messenger-item-wrapper .contact:hover {
    background: #e4e6eb;
    cursor: pointer;
}
.messenger-list-wrapper .contact div,
.messenger-item-wrapper .contact div {
    padding-left: 14px;
}
.messenger-list-wrapper .contact div span,
.messenger-item-wrapper .contact div span {
    color: rgb(103 102 102);
    font-size: 14px;
    font-weight: 300;
}
.messenger-list-wrapper .contact {
    position: relative;
}
.messenger-list-wrapper .contact img,
.messenger-item-wrapper .contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messenger-list-wrapper .online {
    padding: 0 !important;
    width: 10px;
    height: 10px;
    background: #31a24c;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 46px;
    box-shadow: 0px 0px 0px 3px #ffffff;
}
.messenger-list-wrapper .contact:hover .online {
    box-shadow: 0px 0px 0px 3px #e4e6eb;
}
.messenger-item-wrapper {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 328px;
    z-index: 100;
    height: 455px;
}
.messenger-item-wrapper .contact img {
    width: 35px;
    height: 35px;
}
.messenger-item-wrapper .contact {
    margin-bottom: 0;
}
.messenger-item-wrapper .message {
    height: 345px;
    overflow-y: scroll;
}
.message .left-message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.message .left-message p {
    margin-left: 10px;
    background: #eee;
    border-radius: 16px;
    padding: 5px 10px;
}
#message_wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.message .right-message {
    max-width: 70%;
    width: fit-content;
    margin-left: auto;
    word-break: break-all;
}
.message .left-message {
    max-width: 70%;
    width: fit-content;
    word-break: break-all;
}
.message .right-message p {
    background: #eee;
    border-radius: 16px;
    padding: 8px 10px;
}
.messenger-item-wrapper .input-form textarea:focus {
    box-shadow: none !important;
    outline: none;
}
.messenger-item-wrapper .input-form textarea {
    resize: none;
    margin-right: 0 !important;
    border-radius: 20px;
    background: #f0f2f5;
    border: 0;
    width: 100%;
    padding: 10px;
}
.messenger-item-wrapper .send-btn,
.messenger-item-wrapper .actions-btn {
    background: none;
    border: 0;
}
.messenger-item-wrapper .send-btn:focus,
.messenger-item-wrapper .actions-btn:focus {
    box-shadow: none !important;
}
.messenger-item-wrapper .send-btn img,
.messenger-item-wrapper .actions-btn img {
    width: 30px;
}
.messenger-icon.active{
    background: #e7f3ff !important;
}
.messenger-icon.active > i{
    color: #1876f2;
}
.right-message img, .message .left-message .image {
    width: 100%;
    height: auto;
    border-radius: 16px;
}